src/main/mule/sample-web.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="31a49978-bc4d-4c21-9877-88363841e6f5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sample-webFlow" doc:id="ecaa7ae2-2e5e-43a6-8fff-8d9916ea7457" >
		<http:listener doc:name="Listener" doc:id="f4251ae6-c11e-4262-80c0-661470513239" config-ref="HTTP_Listener_config" path="/web"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="634ab748-ec65-4408-bbe5-e0992a35f902" />
		<logger level="INFO" doc:name="Logger" doc:id="2354589a-3394-4f36-bb13-eb5071c36838" message="#[payload]"/>
	</flow>
</mule>
